countdown.png
gogn/.babelrc
form.png
gogn/node_modules/*
gogn/.stylelintrc
gogn/.eslintrc.js
gogn/script-compiled.js
verkefni10.md
verkefni10.pdf
__MACOSX/._countdown.png
*.png
__MACOSX/._verkefni10.md
*.pdf
gogn/package.json
gogn/package-lock.json
*.rar